<div data-include-replace="partials/headerDetailCleanup.html"></div>
<div class="content">
    <div id="widget-container">
        <div class="min-padding col-md-6">
            <div class="settings-widget" data-ng-controller="RepairOrderFrontDeskCtrl">
		<center>
                <h3 class="widget-header">Repair Orders</h3>
		</center>
                <div class="widget-content">
                    <div data-include-replace="partials/detailCleanupTable.html"></div>
                </div>
            </div>
        </div>
    </div>
</div>
