<div data-include-replace="partials/headerParts.html"></div>
<div class="content">
    <div id="widget-container">
        <div class="min-padding col-md-12">
            <div class="settings-widget" data-ng-controller="RepairOrderFrontDeskCtrl">
                <div data-include-replace="partials/partsRepairOrderModal.html"></div>
                <h3 class="widget-header">Repair Orders</h3>
                <div class="widget-content">
                    <div data-include-replace="partials/partsRepairOrderTable.html"></div>
                </div>
            </div>
        </div>
    </div>
</div>
