<div data-include-replace="partials/headerShopManager.html"></div>
<div class="content">
    <div id="widget-container">
        <div class="min-padding col-md-12">
            <div class="settings-widget" data-ng-controller="RepairOrderFrontDeskCtrl">
                <div data-include-replace="partials/shopManagerRepairOrderModal.html"></div>
                <div data-include-replace="partials/repairOrderViewModal.html"></div>
                <h3 class="widget-header">Repair Orders</h3>
                <div class="widget-content">
                    <div data-include-replace="partials/shopManagerRepairOrderTable.html"></div>
                </div>
            </div>
        </div>
    </div>
</div>
